@page "/"

<PageTitle>Contact Tracker 9000</PageTitle>

<h1>Contact Tracker Application</h1>

<p>This is the home page of our application.</p>

<div class="mt-4">
    <h2>Navigation</h2>
    <ul>
        <li><a href="/contacts">Contacts</a></li>
        <li><a href="/events">Events</a></li>
    </ul>
</div>